/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar{
	position: center;
  background-color: black;
  color: white;
}

.header{
  text-align: center;
  font-family:serif;
  color: white;
}
.navbar{
    width: 800px;
    height: 75px;
    margin: auto;
    background: black;
}

.navbar a{
  margin: auto;
  color:white;
  text-align: ;
  text-decoration: none;
  float: none;
	font-family:serif;
}

.navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}
