RewriteEngine On

# Exclude static assets from rewrite rules
RewriteCond %{REQUEST_URI} !\.(html|css|js|png|jpe?g|gif|mp4)$ [NC]

# Redirect rules for HTML and PHP files
RewriteRule ^about-us$ /WAS_GP/enhanced/about-us.html [L,NC]
RewriteRule ^about-your-body$ /WAS_GP/enhanced/about-your-body.html [L,NC]
RewriteRule ^contact$ /WAS_GP/enhanced/contact.php [L,NC]
RewriteRule ^csrf_verify$ /WAS_GP/enhanced/csrf_verify.php [L,NC]
RewriteRule ^database_feedback$ /WAS_GP/enhanced/database_feedback.php [L,NC]
RewriteRule ^db_connect$ /WAS_GP/enhanced/db_connect.php [L,NC]
RewriteRule ^deleteUser$ /WAS_GP/enhanced/deleteUser.php [L,NC]
RewriteRule ^displayUser$ /WAS_GP/enhanced/displayUser.php [L,NC]
RewriteRule ^editUser$ /WAS_GP/enhanced/editUser.php [L,NC]
RewriteRule ^editUserPage$ /WAS_GP/enhanced/editUserPage.php [L,NC]
RewriteRule ^healthy-food$ /WAS_GP/enhanced/healthy-food.html [L,NC]
RewriteRule ^index$ /WAS_GP/enhanced/index.php [L,NC]
RewriteRule ^login$ /WAS_GP/enhanced/login.php [L,NC]
RewriteRule ^loginPage$ /WAS_GP/enhanced/loginPage.php [L,NC]
RewriteRule ^logout$ /WAS_GP/enhanced/logout.php [L,NC]
RewriteRule ^qr_otp$ /WAS_GP/enhanced/qr_otp.php [L,NC]
RewriteRule ^register$ /WAS_GP/enhanced/register.php [L,NC]
RewriteRule ^registerPage$ /WAS_GP/enhanced/registerPage.php [L,NC]
RewriteRule ^sessionCheck$ /WAS_GP/enhanced/sessionCheck.php [L,NC]
RewriteRule ^userDetailsPage$ /WAS_GP/enhanced/userDetailsPage.php [L,NC]
RewriteRule ^userHomepage$ /WAS_GP/enhanced/userHomepage.php [L,NC]
RewriteRule ^userPage$ /WAS_GP/enhanced/userPage.php [L,NC]
RewriteRule ^why-healthy-meal$ /WAS_GP/enhanced/why-healthy-meal.html [L,NC]
